<!DOCTYPE html>
<html>
<head>
    <title>Halaman Beranda</title>
</head>
<body>
    <header>
        <h1>Selamat Datang di Halaman Beranda</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#">Beranda</a></li>
            <li><a href="tentang">Tentang Kami</a></li>
            <li><a href="layanan">Layanan kami</a></li>
            <li><a href="hubungi">Hubungi Kami</a></li>
        </ul>
    </nav>
    <section>
        <h2>Tentang Kami</h2>
        <p>Selamat datang di situs web kami. Kami adalah perusahaan yang bergerak di bidang...</p>
    </section>
    <section>
        <h2>Layanan Kami</h2>
        <p>Kami menyediakan berbagai layanan berkualitas, seperti...</p>
    </section>
    <section>
        <h2>Hubungi Kami</h2>
        <p>Jika Anda memiliki pertanyaan atau membutuhkan bantuan, silakan hubungi kami...</p>
    </section>
    <footer>
        <p>&copy; 2023 Halaman Beranda</p>
    </footer>
</body>
</html>
